@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 90%; /* Misty Silver */
    --foreground: 0 0% 11%; /* Charcoal Black */
    --card: 0 0% 100%; /* White */
    --card-foreground: 0 0% 11%; /* Charcoal Black */
    --popover: 0 0% 100%; /* White */
    --popover-foreground: 0 0% 11%; /* Charcoal Black */
    --primary: 234 23% 21%; /* Midnight Slate */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 0 0% 95%; /* Lighter version of Misty Silver */
    --secondary-foreground: 0 0% 11%; /* Charcoal Black */
    --muted: 0 0% 90%; /* Misty Silver */
    --muted-foreground: 0 0% 48%; /* Cool Gray */
    --accent: 206 62% 43%; /* Sapphire Blue */
    --accent-foreground: 0 0% 100%; /* White */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 85%;
    --input: 0 0% 92%;
    --ring: 206 62% 43%; /* Sapphire Blue */
    --radius: 0.5rem;
    --chart-1: 206 62% 43%;
    --chart-2: 89 98% 80%;
    --chart-3: 234 23% 35%;
    --chart-4: 0 0% 48%;
    --chart-5: 206 62% 60%;
  }

  .dark {
    --background: 234 23% 15%; /* Darker Midnight Slate */
    --foreground: 0 0% 98%; /* White */
    --card: 234 23% 21%; /* Midnight Slate */
    --card-foreground: 0 0% 98%; /* White */
    --popover: 234 23% 21%; /* Midnight Slate */
    --popover-foreground: 0 0% 98%; /* White */
    --primary: 0 0% 90%; /* Misty Silver */
    --primary-foreground: 234 23% 21%; /* Midnight Slate */
    --secondary: 234 23% 25%;
    --secondary-foreground: 0 0% 98%; /* White */
    --muted: 234 23% 25%;
    --muted-foreground: 0 0% 63%; /* Lighter Cool Gray */
    --accent: 206 62% 53%; /* Lighter Sapphire Blue */
    --accent-foreground: 0 0% 100%; /* White */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 234 23% 28%;
    --input: 234 23% 28%;
    --ring: 206 62% 53%; /* Lighter Sapphire Blue */
    --chart-1: 206 62% 53%;
    --chart-2: 89 98% 80%;
    --chart-3: 234 23% 45%;
    --chart-4: 0 0% 63%;
    --chart-5: 206 62% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
